<!DOCTYPE HTML>
<html>
<head>

<title>LocoMart</title>
<link href="css/table.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://fonts.googleapis.com/css?family=Playball" rel='stylesheet' type='text/css'>  
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<!--slider-->
<script src="js/jquery.min.js"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/superfish.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script>
    var application = angular.module("deleteModule",[]).
    controller("deleteController",function($scope, $http) {
    	$scope.pass = function(){
    		$http({method:"GET",
      		  url:"/getproduct",
      	params:{"productcode":$scope.product},	  
      	
      	}).success(function(data){
      			 // alert("In success");
      			 
      			  if(data.code==200){
      				 // alert("inside data");
      				  //alert("data is "+JSON.stringify(data.data));
      				  $scope.products = data.data;
      				
      				  
      			  }else{
      				  alert("Error in loading the data. Please try again later");
      				window.location.assign('/adminhome');
      				
      			  }
      			  
      		  })
      		  .error(function(error){
      			alert("Error in loading the data. Please try again later");
      			window.location.assign('/adminhome');
      		  });
    		
    	 }
    	$scope.pass2 = function(product){
    	
    		$http({method:"GET",
      		  url:"/deleteproduct",
      	params:{"productcode":product.productCode},	  
      	
      	}).success(function(data){
      			 // alert("In success");
      			 
      			  if(data.code==200){
      				  
      				 
      				  alert("The product was deleted successfully");
      				window.location.assign('/adminhome');
      				
      			
      				  
      			  }else{
      				  alert("There was some error in deleting the product. Please try again");
      				window.location.assign('/adminhome');
      			  }
      			  
      		  })
      		  .error(function(error){
      			alert("Error in getting product details. Please try again");
  				window.location.assign('/adminhome');
      		  });
    		
    		
    	}
    	});
    	
   
    </script>
</head>
<body ng-app="deleteModule">
		<div ng-controller="deleteController">
<div class="header-bg">
	<div class="wrap"> 
		
			<div class="total">
<div class="logo">
			<a href="adminhome.html"><img src="images/logo.png" alt=""/></a>
		  </div>
					<div align="right">
          <br>
          <li><a href="loginfinal.html"><strong>Signout</strong></a></li>
						</div>	
					<div class="clear"></div> 
						
		</div>			<div class="menu"> 	
		<div class="menu"> 	
			<div class="top-nav"> 
					<ul>
						<li ><a href="adminhome.html">Home</a></li>
						<li><a href="addprod.html">Add Products</a></li>
                        


                        <li class="active"><a href="delproduct.html">Delete Products</a></li>
                         <li><a href="Myorder.html">Orders</a></li>
                         <li><a href="officeadmin.html">Branches</a></li>
						
						

					</ul>
					<div class="clear"></div> 
				</div>
		</div>
		 Please enter the product code you want to leave<input type="text" value="" name="product" id="product" ng-model="product">
    <input type="submit" ng-click="pass()"/>
		<div class="banner-top">
			<div class="header-bottom">
				 <div class="header_bottom_right_images"> </div>
                 <br><br>
<div class="container">
            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Product Line</th>
        <th>Product Scale</th>
        <th>Product  vendor</th>
        <th>Product Description</th>
        <th>Quantity in Stock</th>
        <th>Buy Price</th>
        <th>MSRP</th>
        <th>Delete option</th>
      </tr>
    </thead>
    <tbody>
  <tr ng-repeat="product in products">
		<td>{{product.productCode}}</td>>
		<td>{{product.productName}}</td>>
		<td>{{product.productLine}}</td>>
		<td>{{product.productScale}}</td>>
		<td>{{product.productVendor}}</td>>
		<td>{{product.productDescription}}</td>>
		<td>{{product.quantityInStock}}</td>>
		<td>{{product.buyPrice}}</td>
		<td>{{product.MSRP}}</td>
		<td>
		<div align="center"class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="delete" name="delete" class="btn btn-danger" ng-click="pass2(product)">Delete</button>
  </div>
</div> 
		</td>
		
    
     
    </tbody>
  </table>
  <!-- Button -->

</div>
</div>
                 
                              </div>
                 
                
                        
                

                    </div>
         
</div>

</div>
		
        

		
</div>

</div>


</body>
</html>

    	
    	
            