<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Locomart</p>
      Username: <input type="text" name="user"><br>
        Password: <input type="text" name="pass"><br>
  </body>
</html>
